/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    line-height: 1.5;
    max-height: 100vh;
}

nav {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 2rem;
}

nav a.router-link-exact-active {
    color: var(--color-text);
}

nav a.router-link-exact-active:hover {
    background-color: transparent;
}

nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
    border: 0;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        place-items: center;
        padding-right: calc(var(--section-gap) / 2);
    }

    .logo {
        margin: 0 2rem 0 0;
    }

    header .wrapper {
        display: flex;
        place-items: flex-start;
        flex-wrap: wrap;
    }

    nav {
        text-align: left;
        margin-left: -1rem;
        font-size: 1rem;

        padding: 1rem 0;
        margin-top: 1rem;
    }
}

.card img{
    transition-duration: 350ms;
}

.total-info-area .image-area {
    width: 10rem;
    margin-right: 20px;
}

.total-info-area .image-area span {
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: .6rem;
    padding: .5rem .8rem;
    text-align: center;
    text-indent: .5rem;
}

.total-price-area .total-text {
    font-weight: bold;
    font-size: .8rem;
}

.total-price-area .price {
    font-weight: 100;
    font-size: 1.3rem;
}

.total-info-area .navigation-area .btn {
    width: 12rem;
}

.total-info-area .navigation-area .btn span {
    font-size: 1rem;
}

.color-options div {
    width: 10rem;
}

.color-options button {
    width: 30px;
    height: 30px;
}

.color-options button svg {
    position: absolute;
    font-size: .5rem;
    left: -1rem!important;
    top: -1rem!important;
    border: 2px solid #fff;
}

.accessories {
    height: 30rem;
    overflow: auto;
    margin-bottom: 10rem;
}

.accessory {
    border: 0;
}

.accessory:hover {
    border: 1px solid #0000002d;
    background: #292929;
    color: #fff;
}

.accessory .card-header {
    flex: 1!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accessory .card-body {
    flex: 1!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accessory svg {
    position: relative!important;
    width: 1rem;
    height: 1rem;
}

